* {
/*removes all margins and paddings*/
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;
 
}

.container{
	background-color: #eee;
	
}

nav {
	background-color: #fff;
	border-bottom: 5px solid #6dccde;
	height: 10vh;
	line-height: 10vh;
}

nav a {
	text-decoration: none;
}

.nav-item {
	display: inline-block;
	padding: 5px 10px;
}

.active {
	background-color: #444;
	color: #6dccde;
	padding: 5px;
	border-radius: 10px;
	line-height:20px;
}

.footer {
	background-color: #fff;
	height: 10vh;
	line-height: 10vh;
	border-top: 5px solid #6dccde;
}

.footer, h1 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;

}

#contact-footer {
	position: fixed;
	width: 100%;
}

.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section > ul, ol {
	list-style-type: none;	
	}

.red-section {
	background-color: red;
	border: 2px solid green;
	
}

.blue-section {
	background-color: blue;
	border: 2px solid orange;
	
}

h2 {
	margin-bottom: 0;
	background-color: gold;
	margin-top: 0;
	padding-top: 21px ;
	padding-bottom: 21px ;
	border: 2px solid purple;
	color: purple;
	}

.section ul, ol {
	display: flex;
	color: #fff;
	padding: 10px;
	text-align: center;
	
	width: 100%;
}

.section li {
	padding-right: 50px;
}

#main > table {
	width: 100%;
	background-color: #fff;
	text-align: center;
}

#header {
	justify-content: center;
}

img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 25%;

}

.section ul {
	color: green;
}

.section ol {
	color: orange;
}

.section li {
	flex-wrap: wrap;
	justify-content: center;

}